<!-- contato.component.html -->

<h2 mat-dialog-title>Contato</h2>
<mat-dialog-content class="mat-typography">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="nome" ngModel required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">Telefone</label>
      <input type="tel" class="form-control" id="exampleFormControlInput2" name="telefone" ngModel required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com" name="email" ngModel required>
    </div>
    
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensagem" ngModel required></textarea>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enviar</button>
    </mat-dialog-actions>
    <div *ngIf="sucessoNoEnvio">
      <p class="mensagem-sucesso">E-mail enviado com sucesso!</p>
    </div>
  </form>
</mat-dialog-content>



