<h2 mat-dialog-title>Contato</h2>
<mat-dialog-content class="mat-typography">
  

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Telefone</label>
    <input type="tel" class="form-control" id="exampleFormControlInput2">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <input class="btn btn-primary" type="submit" value="Enviar">
</mat-dialog-actions>


