
.app-footer {
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0.5%;
  text-align: center;


  .inner {
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      li {
        img {
          margin-top: 1px;

        }
      }
     
    }
  }
}

.copyright {
  color: white;
  
}

.socials {
  li {
    text-align: center;
  }
}